<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(bannerid)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">imgurl</label>
			<div class="col-xs-9">
				<div class="form-control-static"><a id="imgurl-link" href="link.php?t=bannerlist&f=imgurl&i=<%%VALUE(bannerid)%%>" target="_blank"><%%VALUE(imgurl)%%></a><script>jQuery(function(){ var e_imgurl = '<%%VALUE(imgurl)%%>'; if(e_imgurl == '' || e_imgurl == '&nbsp;' || e_imgurl == 'blank.gif') jQuery('#imgurl-link').hide(); });</script></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Linkurl</label>
			<div class="col-xs-9">
				<div class="form-control-static"><a id="linkurl-link" href="link.php?t=bannerlist&f=linkurl&i=<%%VALUE(bannerid)%%>" target="_blank"><%%VALUE(linkurl)%%></a><script>jQuery(function(){ var e_linkurl = '<%%VALUE(linkurl)%%>'; if(e_linkurl == '' || e_linkurl == '&nbsp;' || e_linkurl == 'blank.gif') jQuery('#linkurl-link').hide(); });</script></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Listdisp</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(listdisp)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Dldisp</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(dldisp)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Authdisp</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(authdisp)%%></div>
			</div>
		</div>
	</fieldset>
</div>
