<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'paddata_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="paddata-progid-<%%VALUE(progid)%%>" class="paddata-progid text-right"><%%SELECT%%><%%VALUE(progid)%%><%%ENDSELECT%%></td>
		<td id="paddata-company-<%%VALUE(progid)%%>" class="paddata-company "><%%SELECT%%><%%VALUE(company)%%><%%ENDSELECT%%></td>
		<td id="paddata-country-<%%VALUE(progid)%%>" class="paddata-country "><%%SELECT%%><%%VALUE(country)%%><%%ENDSELECT%%></td>
		<td id="paddata-website-<%%VALUE(progid)%%>" class="paddata-website "><%%SELECT%%><%%VALUE(website)%%><%%ENDSELECT%%></td>
		<td id="paddata-contactname-<%%VALUE(progid)%%>" class="paddata-contactname "><%%SELECT%%><%%VALUE(contactname)%%><%%ENDSELECT%%></td>
		<td id="paddata-email-<%%VALUE(progid)%%>" class="paddata-email "><%%SELECT%%><%%VALUE(email)%%><%%ENDSELECT%%></td>
		<td id="paddata-title-<%%VALUE(progid)%%>" class="paddata-title "><%%SELECT%%><%%VALUE(title)%%><%%ENDSELECT%%></td>
		<td id="paddata-version-<%%VALUE(progid)%%>" class="paddata-version "><%%SELECT%%><%%VALUE(version)%%><%%ENDSELECT%%></td>
		<td id="paddata-pdate-<%%VALUE(progid)%%>" class="paddata-pdate "><%%SELECT%%><%%VALUE(pdate)%%><%%ENDSELECT%%></td>
		<td id="paddata-cost-<%%VALUE(progid)%%>" class="paddata-cost text-right"><%%SELECT%%><%%VALUE(cost)%%><%%ENDSELECT%%></td>
		<td id="paddata-ptype-<%%VALUE(progid)%%>" class="paddata-ptype "><%%SELECT%%><%%VALUE(ptype)%%><%%ENDSELECT%%></td>
		<td id="paddata-status-<%%VALUE(progid)%%>" class="paddata-status text-right"><%%SELECT%%><%%VALUE(status)%%><%%ENDSELECT%%></td>
		<td id="paddata-install-<%%VALUE(progid)%%>" class="paddata-install "><%%SELECT%%><%%VALUE(install)%%><%%ENDSELECT%%></td>
		<td id="paddata-os-<%%VALUE(progid)%%>" class="paddata-os "><%%SELECT%%><%%VALUE(os)%%><%%ENDSELECT%%></td>
		<td id="paddata-languages-<%%VALUE(progid)%%>" class="paddata-languages "><%%SELECT%%><%%VALUE(languages)%%><%%ENDSELECT%%></td>
		<td id="paddata-changeinfo-<%%VALUE(progid)%%>" class="paddata-changeinfo "><%%SELECT%%><%%VALUE(changeinfo)%%><%%ENDSELECT%%></td>
		<td id="paddata-category-<%%VALUE(progid)%%>" class="paddata-category "><%%SELECT%%><%%VALUE(category)%%><%%ENDSELECT%%></td>
		<td id="paddata-requirements-<%%VALUE(progid)%%>" class="paddata-requirements "><%%SELECT%%><%%VALUE(requirements)%%><%%ENDSELECT%%></td>
		<td id="paddata-ksize-<%%VALUE(progid)%%>" class="paddata-ksize text-right"><%%SELECT%%><%%VALUE(ksize)%%><%%ENDSELECT%%></td>
		<td id="paddata-keywords-<%%VALUE(progid)%%>" class="paddata-keywords "><%%SELECT%%><%%VALUE(keywords)%%><%%ENDSELECT%%></td>
		<td id="paddata-description-<%%VALUE(progid)%%>" class="paddata-description "><%%SELECT%%><%%VALUE(description)%%><%%ENDSELECT%%></td>
		<td id="paddata-descrlarge-<%%VALUE(progid)%%>" class="paddata-descrlarge "><%%SELECT%%><%%VALUE(descrlarge)%%><%%ENDSELECT%%></td>
		<td id="paddata-homepage-<%%VALUE(progid)%%>" class="paddata-homepage "><%%SELECT%%><%%VALUE(homepage)%%><%%ENDSELECT%%></td>
		<td id="paddata-screenshot-<%%VALUE(progid)%%>" class="paddata-screenshot "><%%SELECT%%><%%VALUE(screenshot)%%><%%ENDSELECT%%></td>
		<td id="paddata-icon-<%%VALUE(progid)%%>" class="paddata-icon "><%%SELECT%%><%%VALUE(icon)%%><%%ENDSELECT%%></td>
		<td id="paddata-padfile-<%%VALUE(progid)%%>" class="paddata-padfile "><%%SELECT%%><%%VALUE(padfile)%%><%%ENDSELECT%%></td>
		<td id="paddata-download-<%%VALUE(progid)%%>" class="paddata-download "><%%SELECT%%><%%VALUE(download)%%><%%ENDSELECT%%></td>
		<td id="paddata-dlcount-<%%VALUE(progid)%%>" class="paddata-dlcount text-right"><%%SELECT%%><%%VALUE(dlcount)%%><%%ENDSELECT%%></td>
		<td id="paddata-dlipaddr-<%%VALUE(progid)%%>" class="paddata-dlipaddr "><%%SELECT%%><%%VALUE(dlipaddr)%%><%%ENDSELECT%%></td>
		<td id="paddata-aspnumber-<%%VALUE(progid)%%>" class="paddata-aspnumber "><%%SELECT%%><%%VALUE(aspnumber)%%><%%ENDSELECT%%></td>
		<td id="paddata-affiliate-<%%VALUE(progid)%%>" class="paddata-affiliate "><%%SELECT%%><%%VALUE(affiliate)%%><%%ENDSELECT%%></td>
		<td id="paddata-affiliateid-<%%VALUE(progid)%%>" class="paddata-affiliateid "><%%SELECT%%><%%VALUE(affiliateid)%%><%%ENDSELECT%%></td>
		<td id="paddata-siterating-<%%VALUE(progid)%%>" class="paddata-siterating text-right"><%%SELECT%%><%%VALUE(siterating)%%><%%ENDSELECT%%></td>
		<td id="paddata-clean-<%%VALUE(progid)%%>" class="paddata-clean text-right"><%%SELECT%%><%%VALUE(clean)%%><%%ENDSELECT%%></td>
		<td id="paddata-paderrcount-<%%VALUE(progid)%%>" class="paddata-paderrcount text-right"><%%SELECT%%><%%VALUE(paderrcount)%%><%%ENDSELECT%%></td>
