<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="paddata-progid-<%%VALUE(progid)%%>" class="text-right"><%%VALUE(progid)%%></td>
		<td id="paddata-company-<%%VALUE(progid)%%>" class=""><%%VALUE(company)%%></td>
		<td id="paddata-country-<%%VALUE(progid)%%>" class=""><%%VALUE(country)%%></td>
		<td id="paddata-website-<%%VALUE(progid)%%>" class=""><%%VALUE(website)%%></td>
		<td id="paddata-contactname-<%%VALUE(progid)%%>" class=""><%%VALUE(contactname)%%></td>
		<td id="paddata-email-<%%VALUE(progid)%%>" class=""><%%VALUE(email)%%></td>
		<td id="paddata-title-<%%VALUE(progid)%%>" class=""><%%VALUE(title)%%></td>
		<td id="paddata-version-<%%VALUE(progid)%%>" class=""><%%VALUE(version)%%></td>
		<td id="paddata-pdate-<%%VALUE(progid)%%>" class=""><%%VALUE(pdate)%%></td>
		<td id="paddata-cost-<%%VALUE(progid)%%>" class="text-right"><%%VALUE(cost)%%></td>
		<td id="paddata-ptype-<%%VALUE(progid)%%>" class=""><%%VALUE(ptype)%%></td>
		<td id="paddata-status-<%%VALUE(progid)%%>" class="text-right"><%%VALUE(status)%%></td>
		<td id="paddata-install-<%%VALUE(progid)%%>" class=""><%%VALUE(install)%%></td>
		<td id="paddata-os-<%%VALUE(progid)%%>" class=""><%%VALUE(os)%%></td>
		<td id="paddata-languages-<%%VALUE(progid)%%>" class=""><%%VALUE(languages)%%></td>
		<td id="paddata-changeinfo-<%%VALUE(progid)%%>" class=""><%%VALUE(changeinfo)%%></td>
		<td id="paddata-category-<%%VALUE(progid)%%>" class=""><%%VALUE(category)%%></td>
		<td id="paddata-requirements-<%%VALUE(progid)%%>" class=""><%%VALUE(requirements)%%></td>
		<td id="paddata-ksize-<%%VALUE(progid)%%>" class="text-right"><%%VALUE(ksize)%%></td>
		<td id="paddata-keywords-<%%VALUE(progid)%%>" class=""><%%VALUE(keywords)%%></td>
		<td id="paddata-description-<%%VALUE(progid)%%>" class=""><%%VALUE(description)%%></td>
		<td id="paddata-descrlarge-<%%VALUE(progid)%%>" class=""><%%VALUE(descrlarge)%%></td>
		<td id="paddata-homepage-<%%VALUE(progid)%%>" class=""><%%VALUE(homepage)%%></td>
		<td id="paddata-screenshot-<%%VALUE(progid)%%>" class=""><%%VALUE(screenshot)%%></td>
		<td id="paddata-icon-<%%VALUE(progid)%%>" class=""><%%VALUE(icon)%%></td>
		<td id="paddata-padfile-<%%VALUE(progid)%%>" class=""><%%VALUE(padfile)%%></td>
		<td id="paddata-download-<%%VALUE(progid)%%>" class=""><%%VALUE(download)%%></td>
		<td id="paddata-dlcount-<%%VALUE(progid)%%>" class="text-right"><%%VALUE(dlcount)%%></td>
		<td id="paddata-dlipaddr-<%%VALUE(progid)%%>" class=""><%%VALUE(dlipaddr)%%></td>
		<td id="paddata-aspnumber-<%%VALUE(progid)%%>" class=""><%%VALUE(aspnumber)%%></td>
		<td id="paddata-affiliate-<%%VALUE(progid)%%>" class=""><%%VALUE(affiliate)%%></td>
		<td id="paddata-affiliateid-<%%VALUE(progid)%%>" class=""><%%VALUE(affiliateid)%%></td>
		<td id="paddata-siterating-<%%VALUE(progid)%%>" class="text-right"><%%VALUE(siterating)%%></td>
		<td id="paddata-clean-<%%VALUE(progid)%%>" class="text-right"><%%VALUE(clean)%%></td>
		<td id="paddata-paderrcount-<%%VALUE(progid)%%>" class="text-right"><%%VALUE(paderrcount)%%></td>
