<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="usrreviews-revid-<%%VALUE(revid)%%>" class="text-right"><%%VALUE(revid)%%></td>
		<td id="usrreviews-progid-<%%VALUE(revid)%%>" class="text-right"><%%VALUE(progid)%%></td>
		<td id="usrreviews-useripaddr-<%%VALUE(revid)%%>" class=""><%%VALUE(useripaddr)%%></td>
		<td id="usrreviews-revtime-<%%VALUE(revid)%%>" class=""><%%VALUE(revtime)%%></td>
		<td id="usrreviews-username-<%%VALUE(revid)%%>" class=""><%%VALUE(username)%%></td>
		<td id="usrreviews-userrating-<%%VALUE(revid)%%>" class="text-right"><%%VALUE(userrating)%%></td>
		<td id="usrreviews-usercomment-<%%VALUE(revid)%%>" class=""><%%VALUE(usercomment)%%></td>
